.App {
	width: 100vw;
	height: 100vh;
	background-image: url("../images/bg.jpg");
	font-family: "Roboto", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.App__title {
		position: absolute;
		top: 30px;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		font-size: 3.6rem;
		letter-spacing: 2px;
		color: white;
		text-transform: uppercase;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	}
}
