.homePage {
	width: $width-content;
	max-width: 90%;
	height: 50%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	.homePage__wrapperForInput {
		position: relative;
		width: 20%;
		padding-right: 25px;
		align-self: flex-end;

		.homePage__searchInput {
			font-size: 1.6rem;
			padding: 5px;

			outline: none;
		}
		.homePage__iconToSearch {
			width: 20px;
			position: absolute;
			top: 50%;
			right: 2px;
			transform: translateY(-50%);
			z-index: 1;
			cursor: pointer;
		}
	}
}
